.parent{
    position: relative;
}
.banner{
     background-image: url(../../assets/img/banner-bg-2.webp);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    width: 100%;
}
.bannerinner{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 40px;
   margin-top: 100px;
}
.banner1 img{
    width: 100%;
    max-width: 500px;

}
.banner2 h3{
    font-size: 70px;
    color: red;
    margin-bottom: 20px;
}
.banner2 h1{
    font-size: 55px;
    margin-bottom: 10px;
}
.banner2 p{
    font-size: 22px;
    margin-bottom: 30px;
}