.productCard1{
position: relative;

}
.productCard1 img{
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
.sale{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.productCard2 p{
    font-size: 14px;
    color: #737373;
    margin-bottom: 5px;

}
.productCard2 h3,h2{
    color: #373737;
    font-size: 16px;

}
.productCard2 h3{
    font-weight: lighter;
    margin-bottom: 5px;
}
.productCard2 h2{
   font-weight: bolder;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price p{
    color: red;
}
.price p:hover{
    color: #373737;
}
.price a{
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.productCard:hover .price a{
    opacity: unset;
    visibility: visible;
    display: block;
    transition: all 0.5s ease 0s;
    transform: translateX(-10px);
}